/*
 *	Base color: #002147
 *  Accent color: #AD0051
 */
html, body {
	height: 100%;
}

body {
	font: 20px 'PT Serif', Georgia, serif;
	background: white;
	cursor: default;
	margin: 0;
}

	main {
		display: block;
	}

		main a {
			transition: color 0.2s ease, border-color 0.2s ease;
			color: #00397A;
		}

		main a:hover,
		main a:focus {
			color: #AD0051;
		}

	.aligned {
		-webkit-box-sizing: content-box;
		-moz-box-sizing: content-box;
		box-sizing: content-box;
		max-width: 720px;
		margin: 1% auto;
		width: 100%;
		padding: 0;
	}

		nav {
			font-family: Arial, Helvetica, sans-serif;
			border-bottom: 1px solid #ddd;
			text-transform: uppercase;
			letter-spacing: 1px;
			line-height: 60px;
			font-weight: bold;
			font-size: 14px;
			height: 60px;
		}

			nav ul {
				text-align: center;
				list-style: none;
				padding: 0;
				margin: 0;
			}

				nav ul li {
					display: block;
					color: #333;
					float: left;
					width: 25%;
				}

					nav ul li a {
						border-bottom: 2px solid;
						text-decoration: none;
					}

		nav.inverted {
			border-bottom-color: transparent;
			background: #0A0F14;
		}

			nav.inverted ul li {
				color: rgba(256, 256, 256, 0.6);
			}

			nav.inverted ul li a {
				color: white;
			}

			nav.inverted ul li a:hover,
			nav.inverted ul li a:focus {
				color: #AD0051;
			}

		article {
			position: relative;
		}

			article .row:after {
				display: table;
				content: '';
				clear: both;
			}

				article .col-1, article .col-2, article .col-3,
				article .col-4, article .col-5, article .col-6,
				article .col-7, article .col-8, article .col-9,
				article .col-10, article .col-11, article .col-12 {
					-webkit-box-sizing: border-box;
					-moz-box-sizing: border-box;
					box-sizing: border-box;
					padding: 1%;
					float: left;
				}

				article .col-1 { width: 8.33333333333%; }
				article .col-2 { width: 16.6666666667%; }
				article .col-3 { width: 25%; }
				article .col-4 { width: 33.3333333333%; }
				article .col-5 { width: 41.6666666667%; }
				article .col-6 { width: 50%; }
				article .col-7 { width: 58.3333333333%; }
				article .col-8 { width: 66.6666666666%; }
				article .col-9 { width: 75%; }
				article .col-10 { width: 83.3333333333%; }
				article .col-11 { width: 91.6666666666%; }
				article .col-12 { width: 100%; }

			article header {
				background: #eee;
				position: relative;
				padding: 15px;
				margin: 1em 0;
			}

			article h1 {
				margin: 0;
			}

			time {
				font-style: italic;
			}

			article h1,
			article h2 {
				font-weight: normal;
			}

			article h1 { 
				font-size: 2em;
			}

			article h2 { 
				font-size: 1.5em;
				margin: 0.5em 0;
			}

			article p {
				text-indent: 5%;
				margin: 1em 0;
				color: #222;
			}

			article p.intro {
				background: #333;
				padding: 15px;
				color: #eee;
			}

			article p.special {
				font-family: 'Open Sans', sans-serif;
			}

			article p.tip:before {
				content: '❧ ';
			}

			article img {
				margin: 0 auto;
				display: block;
			}

			article blockquote {
				font-style: italic;
				position: relative;
			}

			article blockquote:before {
				position: absolute;
				font-style: normal;
				content: '\201C';
				font-size: 60px;
				left: -40px;
				top: -10px;
			}

			article blockquote:after {
				content: '\2013 ' attr(cite);
				font-style: normal;
				text-align: right;
				display: block;
				color: gray;
			}

			article img.round {
				border-radius: 50px;
			}

			article ul {
				list-style-position: outside;
				list-style-type: circle;
			}

				article ul.zebra li:nth-of-type(odd) {
					background: #eee;
				}

			article hr {
				border: none;
				padding: 0.05em 0;
				border-bottom: 1px solid rgba(0, 0, 0, 0.2);
				border-top: 1px solid rgba(0, 0, 0, 0.2);
				height: 0;
			}

			article table {
				border-spacing: 0;
				font: inherit;
				margin: 1em 0;
				width: 100%;
			}

				article table thead tr {
					background: transparent;
				}

					article table thead tr th {
						font-weight: normal;
					}

			article table.zebra tbody tr:nth-of-type(odd) {
				background: rgba(0, 0, 0, 0.1);
			}

