{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
    "browser": true
  },
  "plugins": [
    "flow-vars"
  ],
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "webpack/eslint.js"
      }
    }
  },
  "rules": {
    "array-bracket-spacing": [ "error", "always" ],
    "arrow-parens": [ "error", "always" ],
    "comma-dangle": [ "error", "never" ],
    "indent": [ "error", 4, { "SwitchCase": 1 } ],
    "no-duplicate-imports": "off",
    "import/no-duplicates": [ "error" ],
    "import/prefer-default-export": "off",
    "import/no-extraneous-dependencies": [ "error", { "devDependencies": [ "!webpack/**/*.js" ]}],
    "no-underscore-dangle": "off",
    "react/prefer-stateless-function": "off",
    "react/jsx-indent": [ "error", 4 ],
    "react/jsx-indent-props": [ "error", 4 ],
    "react/jsx-filename-extension": [ "error", { "extensions": [ ".js" ] }],
    "space-before-function-paren": [ "error", "always" ],
    "flow-vars/define-flow-type": 1,
    "flow-vars/use-flow-type": 1
  }
}