html, body
	height: 100%

body
	font: 20px 'PT Serif', Georgia, serif
	cursor: default
	margin: 0

	main
		article
			max-width: 720px
			margin: 0 auto
			width: 90%

			h1, h2, h3
				color: #111

			h1
				font-size: 2em

			h2
				font-size: 1.5em

			h3
				font-size: 1em

			img
				max-width: 100%
				display: block
				margin: 0 auto

			p
				color: #222

				a
					box-shadow: inset 0 -2px 0 white, inset 0 -3px 0 #4EA2BE
					text-decoration: none
					color: #4EA2BE

					&:hover
						box-shadow: inset 0 -2px 0 white, inset 0 -3px 0 #DB3A3E
						color: #DB3A3E

		.row
			position: relative

			&:after,
			&:before
				display: table
				content: ' '

			&:after
				clear: both

			.col
				width: 33.33333333%
				float: left